name: ci
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  compile-job:
    runs-on: ubuntu-latest
    env:
      MNEMONIC: ${{ secrets.MNEMONIC }}
      INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
      FORKING: ${{ secrets.FORKING }}
      BLOCK_NUMBER: ${{ secrets.BLOCK_NUMBER }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm install --save-dev
      - run: npm run prettier
      - run: npm run lint
      - run: npm run compile
      - run: npm run test
