name: ci
on: [pull_request]
jobs:
  compile-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm install --save-dev
      - run: npm run lint
      - run: npm run prettier
      - run: npm run compile
      - run: npm run test
